#logo{
	font-size: 75px;
  margin-left: 30px;
	margin-top: 20px;
  font-weight: bold;
	font-family:'MedievalSharp', cursive;
  text-align:center;
}

#giphtastic{
	font-style: italic;
	color: #660066;
}

html{
	border: 30px solid;
	border-color: #660066;

	min-height: 100%;
}


.giphy-btn {
    background-color: #D896FF;
    border: 1px solid gray;
    font-family: 'Raleway', sans-serif;
}

.card-header {
    background-color: silver;
    font-family:'MedievalSharp', cursive;
    font-weight: bold;
}

.btn-primary {
    background-color: lightcoral;
}
